.container {

    max-width: 50%;
    margin-top: 30px;
}


.lightsalmon {
    background-color: lightsalmon;
}

.lime {
    background-color: limegreen;
}

.pink {
    background-color: pink;
}
    
.orange {
    background-color: orange;
}
   
.khaki {
    background-color: khaki;
}

.lavender {
    background-color: lavender;
}

.lightcyan{
    background-color: lightcyan;
}

.green {
    background-color: rgb(134, 204, 134);
}

.blue {
    background-color: aquamarine;
}

.yellow {
    background-color: bisque;
}
