<div class="container-fluid mt-10 flex align-content-center justify-center ">
  <div class="bg-white p-8 border rounded-3xl border-slate-300 shadow-lg shadow-gray-500/50  sm:w-full mx-5 lg:w-3/6 ">
    <h4 class="text-2xl font-bold mt-5">Φόρτωση Νέων Ερωτήσεων</h4>
    

    <div class="flex justify-center">
      <div class="flex flex-row flex-wrap justify-center sm:w-full md:w-8/12 lg:w-4/6">
        <form action="http://localhost:5000/admin/upload-new-questions/" method="post" enctype="multipart/form-data" >
          <select #categoryId name="categoryId" (change)="getSubjectsByCategory(categoryId.value)"
          class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-100 focus:outline-none focus:shadow-lg focus:ring-0 ring-offset-current ring-offset-1 ring-gray-400">
          <option value="">Επίλεξε μια κατηγορία</option>
          <option *ngFor="let category of categoryList" [value]="category.id">
            {{category.name}}
          </option>
        </select>
        <select #subjectId name="subjectId"
          class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-100 focus:outline-none focus:shadow-lg focus:ring-0 ring-offset-current ring-offset-1 ring-gray-400">
          <option value="">Επίλεξε ένα μάθημα</option>
          <option *ngFor="let subject of subjectList" [value]="subject.id">
            {{subject.name}}
          </option>
        </select>
         
        <input type="file" value="Επιλέξτε αρχείο" name="uploaded_file" required accept=".xls,.xlsx,.xslm, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-100 focus:outline-none focus:shadow-lg focus:ring-0 ring-offset-current ring-offset-1 ring-gray-400"/>
 <br> 
        <input type="submit" value="Υποβολή" class="transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "> 
        <!-- <button
          class="transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
          routerLink="/question" (click)="startQuiz()">Ξεκίνα το quiz</button> -->
        </form>
      </div>
    </div>






  </div>
</div>
